Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Plugins\
Engine\
Binaries/
Build/
*_BuiltData.uasset
Saved/
Intermediate/
DerivedDataCache/
WindowsNoEditor/
Windows/
Content/Mods/
!Content/Mods/FoeHammers_AttireUIOverhaul_P/
