Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Plugins\
Engine\
Binaries/
Build/
*_BuiltData.uasset
Saved/
Intermediate/
DerivedDataCache/
WindowsNoEditor/
Windows/
Content/Mods/*
!Content/Mods/FoeHammers_AttireUIOverhaul_P
Content/Meshes/Characters/*
!Content/Meshes/Characters/mainWeapon
!Content/Meshes/Characters/dreamLady_Min
!Content/Meshes/Characters/SK_dreamLady_Min_PhysicsAsset
!Content/Meshes/Characters/SK_dreamLady_Skeleton
Content/Developers/
Platforms/
