Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Plugins\
Engine\
Binaries/
Build/
*_BuiltData.uasset
Saved/
Intermediate/
DerivedDataCache/
WindowsNoEditor/
Windows/
Content/Mods/*
!Content/Mods/FoeHammers_AttireUIOverhaul_P
Content/Meshes/Characters/*
!Content/Meshes/Characters/mainWeapon.uasset
!Content/Meshes/Characters/mainWeapon_Skeleton.uasset
!Content/Meshes/Characters/dreamLady_Min.uasset
!Content/Meshes/Characters/SK_dreamLady_Min_PhysicsAsset.uasset
!Content/Meshes/Characters/SK_dreamLady_Skeleton.uasset
Content/Developers/
Platforms/
__ExternalActors__
__ExternalObjects__
Plugins
